
section#about{
    min-height: 100vh;
    position: relative;
    border-bottom: 1px solid $bottom-divider-color;

    .grid{
        padding: 10%;
    }

    h1{
        font-size: 36px;
        margin-bottom: 20px;
    }

    p{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }

	p.small{
		margin-top: 20px;
		font-size: 10px;
	}

    .avatar{
        text-align: center;

        .avatar-img{
            -webkit-font-smoothing: antialiased;
            transition: background-color 0.1s ease-out;
            transform: translateZ(0);
            outline: 90px solid transparent !important;
            -webkit-filter: url("#avatar-filter");
            filter: url("/#avatar-filter");
        }
    }

    .btn{
        margin: 10px 14px 0 0;
    }

	@media only screen and (max-width: 500px) {
		.btn-container{
			text-align: center;
		}

		.avatar{
			padding-top: 20px;
		}
	}
}
