
section#contact{
    min-height: 100vh;
    position: relative;
    border-bottom: 1px solid $bottom-divider-color;

    .grid{
        padding: 10%;
    }

    h1{
        font-size: 36px;
        margin-bottom: 20px;
    }

    .btn{
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .error{
        padding: 8px 0px;

        p{
            color: $red-color;
            font-weight: bold;
        }
    }

    p{
        line-height: 32px;
        font-size: 16px; //20
    }
}