
section#portfolio{
    min-height: 100vh;
    position: relative;
    border-bottom: 1px solid $bottom-divider-color;

    .grid{
        padding: 10%;
    }

    h1{
        font-size: 36px;
        margin-bottom: 28px;
    }

    .thumbnail{
        background-color: $black-color;
        color: $white-color;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
		border-radius: 2px;

        .overlay{
            background-color: $black-color;
            height: 100%;
            width: 100%;
            position: relative;
            cursor: pointer;
            z-index: 20;
	        transition: opacity 0.25s;
            opacity: 0;
			border-radius: 2px;

            .more{
                font-size: 72px;
                text-align: center;
                padding-top: 40px;
				cursor: pointer;
            }

            .info{
                display: inline-block;
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;
                padding: 20px;
				cursor: pointer;

                h1{
                    font-size: 24px;
                    text-decoration: underline;
                    color: $white-color;
                    margin-bottom: 10px;
					cursor: pointer;
                }

                h2{
					cursor: pointer;
                    font-size: 18px;
                    color: $white-color;
                }
            }
        }

        &:hover > .overlay{
            opacity: 1;
        }
    }

    .col-1-3,
    .col-1-4{
        margin-bottom: 20px;
    }
}

.vex.vex-theme-wireframe{
    padding: 60px 0;
}

.vex-overlay{
    background: transparent !important;
}

.portfolio-modal{
    font-family: 'Inconsolata', monospace;
    color: $black-color;

    .col-4-12{
        text-align: center;
    }

    .info{

        h1{
            font-size: 28px;
        }

        h2{
            font-size: 16px;
        }

        label{
            font-weight: bold;
            display: block;
            font-size: 14px;
            margin: 0;
            margin-top: 10px;
            padding: 0;
        }

        span{
            background-color: $black-color;
            color: $white-color;
            padding: 4px 12px;
            font-size: 12px;
            margin: 0 6px 0 0;
        }

        p{
            font-size: 14px;
        }
    }
}